body{
	margin: 0;
	padding: 0;
}
.wrapper{
	width: 100%;
	overflow: hidden;
}
.container{
	max-width: 1170px;
	padding: 0 15px;
	margin: 50px auto;
}
#installments{
	width: 100%;
}
.installments_legend{
	transform: translate(10px, 0);
}
.pull-left{
	float:left;
	text-align: right;
	width: 10%;
}
.text-center{
	text-align: center;
}
.graph{
	position: relative;
	padding-left: 160px;
	padding-right: 120px;
	min-height: 60vh;
}
.graph .monthly_payments{
	position: absolute;
	top:0;
	left: 0;
	margin: 0;
	padding: 0;
}
.graph .instalments{
	position: absolute;
	bottom:0;
	right: 10px;
}
#graph_result{
	height: 60vh;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 20px;
	position: relative;

}
#graph_result #axis{
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.2);
	min-width: 10px !important;
	transition: all 0.5s;
}
#graph_result.empty:before{
	content:"Please fill 'List price' and chose 'Instalments'";
	display: block;
	width: 100%;
	height: 30px;
	font-size: 30px;
	color: rgba(0,0,0,0.3);
	font-weight: bold;
	position: absolute;
	top: 50%;
	top: calc(50% - 35px);
	left: 0;
	text-align: center;
}
#legend{
	position: absolute;
	left:-160px;
	bottom:0;
	width: 155px;
	text-align: right;
	font-weight: bold;
	transform: translate(0, 8px);
	transition: all 0.5s;
}
@media screen and (max-width: 960px) {
	.graph{
		padding-left: 0;
		padding-right: 0;
	}
	.graph .monthly_payments{
		left: 10px;
	}
	.graph .instalments{
		bottom: 20px;
		right: 0;
	}
	#legend{
		left: 10px;
		transform: translate(0, 0px);
		text-align: left;
	}
}
